
body{
    text-align: center;
}

h1{
    color: green;
}

b{
    color: goldenrod;
    font-size: large;
}

button{
    margin-top: 5px;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 12px;
    height: 50px;
    width: 120px;
    font-size: large;
}

button:hover{
    border: 2px solid green;
    background-color: lightgreen;
}

textarea{
    border-radius: 20px;
    box-shadow: 10px 10px 10px lightblue;
    border: 2px solid blue;
    padding: 15px;
    font-size: larger;
}