.card{
    background-color: lightgreen;
    margin: 5px;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px green;
}

h1{
    color: green;
}

.btn{
    font-size: 2rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgreen;
}

#msg{
    background-color: aliceblue;
}

.dlt-btn-form{
    text-align: end;
}
.dlt-btn-form button{
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    padding: 10px;
}