.card{
    background-color: lightgreen;
    margin: 5px;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px green;
}

h1{
    color: green;
}

.btn{
    font-size: 2rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgreen;
}
.btn:hover{
    background-color: aliceblue;
    border:3px solid lightgreen;
    transform: scale(0.98);
}

#msg{
    background-color: aliceblue;
}

.dlt-btn-form button{
    background-color: lightcoral;
    border: 2px solid lightcoral;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.edit-btn-form button{
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.edit-dlt-form{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
