body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 10px;
}

.card{
    background-color: lightgreen;
    margin: 15px;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px green;
}

h1{
    color: green;
}

.btn{
    font-size: 2rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgreen;
}
.btn:hover{
    background-color: aliceblue;
    border:3px solid lightgreen;
    transform: scale(0.98);
}

#msg{
    background-color: aliceblue;
}

.dlt-btn-form button{
    background-color: lightcoral;
    border: 2px solid lightcoral;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.edit-btn-form button{
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.show-btn-form button{
    background-color: rgb(234, 147, 147);
    margin-right: 2px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.edit-dlt-form{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.dlt-card{
    background-color: lightskyblue;
    border: 2px solid lightslategrey;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    width: 20%;
    border-radius: 20px;
    padding: 5px;
}

.blur{
    opacity: 0.5;
}

.confirm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.hidden {
    display: none;
}

.popup-card {
    background-color: lightgreen;
    padding: 20px 25px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 5px 5px 15px green;
    text-align: center;
}

.popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.popup-buttons button {
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}
